# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode build artifacts
build/
DerivedData/
.derivedData/

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives and logs
*.ipa
*.dSYM.zip
*.dSYM
*.log
